doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Bice-Challenge
  link(rel="stylesheet", href="static/css/index.css")
  body
    section.container  
      article.search-spotify
        h1.title Bice-challenge
        #search.search
          include static/pug/icon-search.pug
          .input-holder
            input(type="text" placeholder="Search album or artist").input-field
            //- button(type="button")
            //-   p Search
        ul.results

          li.track
            img.album-cover(src="static/img/cover.jpg", alt="album name")
            .info
              p.track-name Darlene - Remaster
              p.artist-name Led Zeppelin
              p.year-release 1982
          li.track
            img.album-cover(src="static/img/cover.jpg", alt="album name")
            .info
              p.track-name Darlene - Remaster
              p.artist-name Led Zeppelin
              p.year-release 1982



    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js")
    script(src="static/js/index.js")
