doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Bice-Challenge
  link(rel="stylesheet", href="style/css/index.css")
  body
    section.container  
      article.search-spotify
        .search
          include style/pug/icon-search.pug
          input(type="text" placeholder="Search an album or artist")
          button(type="button")
            p search
        ul.results

          li.track
            img.album-cover(src="/", alt="album name")
            p.track-name
            p.artist-name
            p.year-release
