.header {
    display: flex;
    justify-content: space-between;

  }
  .header form{
    display: flex;
  }
  .header__right {
    display: flex;
    align-items: center;
  }
  
  .header__left {
    flex: 0.5;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    color: gray;
    align-items: center;
    outline:none;

  }
  

.header__button:hover{
  color: lightgrey;
}
  .input__search{
    border: none !important;
  }
  
  .header__right > h4 {
    margin-left: 10px;
  }

  .header__button{
    background: none;
    color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    outline:none;
    cursor: pointer;
    margin-left: 5px;
  }
 



  .search {
  /*   position: absolute;
    top: 50px;
    left: 80%; */
    flex: 0.5;
    display: flex;
    margin-left: 180px;
    margin-top: 50px;
    transform: translateX(-50%) translateY(-50%);
   
    * {
      outline: none;
      box-sizing: border-box;
    }
  }
  
 
  .search__wrapper {
    position: relative;
  }
  .search__field {
    width: 50px;
    height: 50px;
    color: black;
    border-radius: 50px;
    font-family: Lato, sans-serif;
    font-size: 1em;
    padding: .35em (50px) .35em 0;
    border: none;
 
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.8s ease-in-out;
    &:focus {
     padding: .35em (50px) .35em 50px;
      width: 20vw;
      box-shadow: 0 10px 36px -2px rgba(#000, .18);
      border-radius: 10px;
      cursor: default;
      ~ .search__icon {
        background-color: transparent;
        box-shadow: none;
        transform: rotate(90deg);
        transition: all .2s ease .2s;
        cursor: pointer;
        pointer-events: auto;
  
        position: absolute;
    top: 0;
    left: 0;
      }
    }
  }
  .search__icon {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 10px 36px -2px rgba(#000, .18);
    background-color: white;
    width: 50px;
    height: 50px;
  font-size: 1.35em;
    text-align: center;
    border-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    display: inline-block;
  
    
  }
  

  .search__field::-webkit-input-placeholder {
    position: relative;
    top: 0;
    left:50px;
    -webkit-transition-property: top, color;
    transition-property: top, color;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    
  }
  .search__field:-moz-placeholder {
    position: relative;
    top: 0;
    left:50px;
    -webkit-transition-property: top, color;
    transition-property: top, color;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field::-moz-placeholder {
    position: relative;
    top: 0;
    left:50px;
    -webkit-transition-property: top, color;
    transition-property: top, color;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field:-ms-input-placeholder {
    position: relative;
    top: 0;
    left:50px;
    -webkit-transition-property: top, color;
    transition-property: top, color;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    
  }
  .search__field::-webkit-input-placeholder[style*=hidden] {
    color: darken(#e9f1f4, 30%);
    font-size: .65em;
    font-weight: normal;
    top: -(round(50px / 2.5));
    opacity: 1;
    left: 50px;
    visibility: visible !important;
  
  }
  ::placeholder {
      color: black;
      opacity: 1; 
    }
  
  .search__field:-moz-placeholder[style*=hidden] {
    color: darken(#e9f1f4, 30%);
    font-size: .65em;
    font-weight: normal;
    top: -(round(50px / 2.5));
    opacity: 1;
    left: 50px;
    visibility: visible !important;
  }
  .search__field::-moz-placeholder[style*=hidden] {
    color: darken(#e9f1f4, 30%);
    font-size: .65em;
    font-weight: normal;
    top: -(round(50px / 2.5));
    opacity: 1;
    left: 50px;
    visibility: visible !important;
    
  }
  .search__field:-ms-input-placeholder[style*=hidden] {
    color: darken(#e9f1f4, 30%);
    font-size: .65em;
    font-weight: normal;
    top: -(round(50px / 2.5));
    left: 50px;
    opacity: 1;
    visibility: visible !important;
  }
 