// FONTS
$title-font: 'Nunito', sans serif
// COLORS
$dark: #3d3d3d
$white: #ffffff
$accent:#33C7A9
// BUTTONS (usually in another file)
button
  &:hover
  &:active
  &:visited
  p
    font-family: $title-font